*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.main-body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(228, 228, 228);
}

.content-sec{
  
}

.left-sec{
  width: 25%;
  height: 100vh;
  background-color: rgba(0, 0,0,0.08);
  float: left;
}

.left-sec .content{
   background-color: rgb(221, 221, 221);
   height: 50vh;
   margin-top: 12vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
}
.content h2,h3,button{
   color: white;
   text-align: center;
}
.content h2{
    font-size: 1.8vw;
}
.content h3{
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
}

.content input{
    width: 100px;
    height: 29px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    outline: none;
    text-indent: 5px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
}

.content button{
    width: 140px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    outline: none;
    margin-top: 10px;
    border-style: none;
    background-color: rgb(247, 232, 206);
    box-shadow: 0px 5px 10px 0px rgb(179, 144, 144);
}
button:active{
    background-color: yellowgreen;
}
button:hover{
    box-shadow: 0px 1px 1px 0px rgb(179, 144, 144);
    cursor: pointer;
}
.right-sec{
  width: 75%;
  height: 90vh;
  float: right;
  margin-top: 3%; 
  overflow-y: scroll;
}
.right-sec .main-board{
    width: 85%;
    height: 95%;
    display: grid;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
}
.box{
    background-color: rgba(0,0,0,0.009);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: white;
    margin-top: 10px;
}
#a{
    display: none;
}

.inp select{
    height: 30px;
    height: 29px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
}
.cross{
    animation: cross 0.3s;
}

.result{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 7.3%;
    margin-top: 10px;
}
.res-box{
    background-color: rgba(0,0,0,0.009);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: white;
    height: 40px;
    width: 55px;
    background-color: rgb(151, 201, 13);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgb(255, 255, 255);
}
#res-box{
    display: none;
}

@keyframes boxanimate {
    0%{
        transform: scale(1.4);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.2);
    }
}

@keyframes cross {
    0%{
        transform:rotate(-20deg);
    }
    50%{
        transform:rotate(20deg);
    }
    100%{
        transform:rotate(0deg);
    }
}


/* Toast message */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(212, 244, 245);
    color: rgb(51, 47, 47);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 35.2%;
    bottom: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

  }
  
  #snackbar.show {
    visibility: visible;
    animation: fadein 0.2s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 

  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
   
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
   
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
 
  }